.rope {
    height: 50px;
    width: 10px;
    background: black;
    position: absolute;
    top: 0;
    right: 0
}

.verticalLine {
    height: 10px;
    width: 200px;
    background: black;
    margin-left: 120px
}

.horizontalLine {
    height: 400px;
    width: 10px;
    background: black;
    margin-left: 120px
}

.base {
    height: 10px;
    width: 250px;
    background: black
}